<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "_line_item" %>
<tr>
<td><%= line_item.quantity %>&times;</td>
<td><%= line_item.product.title %></td>
<td class= "item_price" > <%= number_to_currency(line_item.total_price) %></td>
</tr>
